<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.oldcat.mapper.ArticleMapper">
    <select id="getAllArticle" resultType="com.jh.oldcat.entity.VO.ArticleTagVo">
        SELECT a.id,a.title,a.neirong,a.time,a.state,a.description,t.tag,a.image,a.page_views
        FROM article a
                 LEFT JOIN tag t ON a.tag = t.id
        order by time DESC
    </select>
    <select id="getAllArticlePage" resultType="com.jh.oldcat.entity.VO.ArticleTagVo">
        SELECT a.id,a.title,a.neirong,a.time,a.state,a.description,t.tag,a.image,a.page_views
        FROM article a
                 LEFT JOIN tag t ON a.tag = t.id
        WHERE a.state = 2
        order by time DESC
    </select>
    <update id="deleteArticle">
        update oldcat.article set state = "0" where id = #{id}
    </update>
    <select id="moreSuggest" resultType="com.jh.oldcat.entity.Article">
        SELECT title,description FROM article
        WHERE id != #{id} AND state = 2
        ORDER BY RAND()
        LIMIT 4;
    </select>
    <select id="getViews" resultType="java.lang.Integer">
        SELECT SUM(page_views)
        FROM article
        WHERE state = 2
    </select>
</mapper>
