<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.oldcat.mapper.ArticleMapper">
    <select id="getAllArticle" resultType="com.jh.oldcat.entity.Article">
        SELECT
            *
        FROM
            article
        ORDER BY time DESC ;
    </select>
    <select id="getAllArticlePage" resultType="com.jh.oldcat.entity.Article">
        select * from article where state != 0 order by time desc
    </select>
    <update id="deleteArticle">
        update oldcat.article set state = "0" where id = #{id}
    </update>
</mapper>
